body {
  background-color: #ecf0f1;
}

.navBar {
  background-color: #0a1612;
  text-align: left;
  height: 55px;
}

.Link {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 2vh;
}

